.inputFieldStyle {
    height: 2em;
    width: 15em;
    background-color: white;
    border-radius: .5em;
    padding-left: 1em;
}

.errorInputFieldStyle {
    color: red;
    border: .25em solid red;
    font-weight: bold;
}

.errorInputFieldStyle::placeholder{
    font-weight: normal;
    color: red;
}