.servicesStyle {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.allServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

.serviceCard {
    border: .1em solid black;
    border: .1em solid black;
    border-radius: .5em;
    height: 15em;
}

/* LAPTOP */
@media only screen and (min-width: 1200px) {
    .allServices {
        display: grid;
        grid-template-columns: repeat(3, 23.7vw);
        row-gap: 1.5em;
        justify-content: center;
    }

    .serviceCard {
        width: 22vw;
        height: fit-content;
    }
}