.servicesStyle {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.allServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

.serviceCard {
    border: .3em solid #47c3e9;
    border-radius: .5em;
    height: fit-content;
    color: black;
    background-color: #2cc6f579;
}

/* LAPTOP */
@media only screen and (min-width: 1200px) {
    .allServices {
        display: grid;
        grid-template-columns: repeat(3, 23.7vw);
        row-gap: 1.5em;
        justify-content: center;
    }

    .serviceCard {
        width: 22vw;
    }
}