.servicesStyle{
    min-height: 90vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.allServices{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}