.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    overflow: visible;
    z-index: 2;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-left: 10px;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .mobile-menu-icon {
        display: flex;
    }

    .nav-menu.mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 85%;
        padding: 0;
        padding-top: 3.5em;
        margin: 0;
        animation: slide-in 0.5s ease-in-out;
    }

    .nav-menu.hidden {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 75%;
        padding: 10px 20px;
        margin: 0;
    }

    @keyframes slide-in {
        0% {
            /* Inicia la barra de navegación fuera de la pantalla */
            transform: translateX(100%);
        }

        100% {
            /* Muestra completamente la barra de navegación */
            transform: translateX(0%);
        }
    }

    .nav-menu.mobile li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}