.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    overflow: visible;
    z-index: 2;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    transition: .3s;
    border-radius: .5em;
}

.nav-menu li:hover{
    background-color: #2cc7f5;
    transition: .3s;
    border-radius: .5em;
    color: white;
}

.mobile-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
}
.nav-menu .header{
    display: none;
}
.nav-menu ul{
    display: flex;
}
@media (max-width: 768px) {
    /* .nav-menu {
        display: none;
    } */

    .mobile-menu-icon {
        display: flex;
    }

    .nav-menu{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        margin: 0;
        transform: translateX(150%);
        transition: transform 0.3s ease-in-out;
        z-index: 99;
        display: flex;
        flex-direction: column;
    }
    .nav-menu .header{
        min-height: calc(10vh - 2em);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1em;
    }
    .crossMenu{
        width: 3em;
        margin-top: -.5em;
    }
    .nav-menu ul{
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .nav-menu ul li{
        margin: 0;
        justify-content: flex-start;
    }
    .nav-menu.mobile{
        transform: translateX(0%);

    }
    @keyframes slide-in {
        0% {
            /* Inicia la barra de navegación fuera de la pantalla */
            transform: translateX(100%);
        }

        100% {
            /* Muestra completamente la barra de navegación */
            transform: translateX(0%);
        }
    }

    @keyframes slide-out {
        0% {
            /* Inicia la barra de navegación fuera de la pantalla */
            transform: translateX(0%);
        }

        100% {
            /* Muestra completamente la barra de navegación */
            transform: translateX(100%);
        }
    }

    .nav-menu.mobile li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}