* {
  overflow-x: hidden;
  color: black;
  box-sizing: border-box;
}

*:has(.nav-menu.mobile) {
  overflow: hidden;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.viewTitle {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: .2em;
}

.boldText {
  font-weight: bold;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* LAPTOP */
@media only screen and (min-width: 1200px) {

  .loginStyle,
  .registerStyle,
  .usersStyle,
  .userProfileStyle,
  .appointmentsStyle,
  .servicesStyle,
  .aboutStyle,
  .patientsStyle,
  .calendarStyle,
  .diaryStyle {
    margin-top: 10vh;
  }
}