* {
  overflow-x: hidden;
  color: black;
  box-sizing: border-box;
}

*:has(.nav-menu.mobile) {
  overflow: hidden;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.viewTitle {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: .2em;
}

.boldText {
  font-weight: bold;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.loginStyle,
.registerStyle{
    min-height: 90vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

.formStyle {
  border: .15em solid black;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1em;
}

.newAppointmentFormStyle{
  display: flex;
  align-items: center;
}

.dataForm {
  display: flex;
  justify-content: space-between;
  column-gap: .5em;
}

.textForm {
  display: flex;
  align-items: center;
}

.btnForm {
  align-self: center;
}

.errorText {
  margin-top: -1em;
  color: red;
}

/* LAPTOP */
@media only screen and (min-width: 1200px) {

  .loginStyle,
  .registerStyle,
  .usersStyle,
  .userProfileStyle,
  .appointmentsStyle,
  .newAppointment,
  .servicesStyle,
  .aboutStyle,
  .patientsStyle,
  .calendarStyle,
  .diaryStyle {
    margin-top: 10vh;
  }
}